{{#each this}}
<li class='event-card-list'>
  <div class="event-card-photo">
    <img class='event-card-img' src={{images.5.url}} alt={{name}}/>

    <div class="event-card-information">
      <p class="event-card-group-name"> {{name}}</p>
      <p class="event-card-date">{{dates.start.localDate}} </p>
      <p class="event-card-concert-venue">
         <svg class="event-card-icon" aria-label="Where is the concert">
            <use href="./images/symbol-defs.svg#icon-Vector-3"></use>
        </svg>
      {{dates.timezone}}</p>
    </div>
  </div>
</li>
{{/each}}






{{!-- {{#each events}}
  <div class="event-discr">
      <img src="{{images.url}}" alt="{{ name }}" width="180" height="227">
      <h2 class="event-title">{{ name }}</h2>
      <p class="event-text">{{ dates.start.localDate}}</p>
      <p class="event-text">{{ locale }} </p>
  </div>
{{/each}} --}}


{{!-- images.url --}}
        {{!-- <ul class="event-languages-list">
          {{#each languages}}
          <li class="event-languages-item">{{ name }}</li>
        {{/each}}
      </ul> --}}




{{!-- {{#each this}}
  <li class="country-list__item">{{ name }}</li>
{{/each}}  --}}

{{!-- {{#each this}}

  <div class="event-discr">
    <div class="event-img">
      <img src="{{ images.url }}" alt="{{ name }}" width="400" height="400">
    </div>
    <div class="text-div">
      <h2 class="event-title">{{ name }}</h2>
      <p class="event-text">{{ dates.start.localDate}}</p>
      <p class="event-text">{{ _embedded.venus.0.address.line1 }}</p>
      </div>
    </div>

  </div>
{{/each}} --}}
